.header{
    background-color: black;
    height:6.5em;
}
 .logo{
     padding-left: 1%;
     padding-top: 1.5%;
} 
.image1{
    padding-left: 5%;
}
.item{
    padding-left: 30%;
    margin-top: -1.5%;
}
.items{
    text-decoration: none;
    color: white;
    padding-left: 5%;
    font-size: 90%;
    font-family: MBCorpo Title,DaimlerCAC-Regular,Helvetica,Arial,sans-serif;
}
.image2{
    float: right;
    height: 20px;
    width: 15px;
    margin-right: 1%;
    
}
.search{
    margin-top: -1.5%;
}
.items:hover{
    color: aqua;
}
.toprightcorner{
    float: right;
    margin-top: -4%;
    
}
.provider{
    text-decoration: none;
    color: white;
    font-family: MBCorpo Title,DaimlerCAC-Regular,Helvetica,Arial,sans-serif;
    font-size: 90%;
    padding-right: 2vw;
    padding-left: 0.3vw;
}
.provider:hover{
    color: aqua;
}
.deu{
    text-decoration: none;
    color: white;
    font-size: 90%;

}
.deu:hover{
    color: aqua;
    border-color: aqua;
}
.i{
    border: 1px solid white;
    color: white;
    font-size:90% ;
    font-weight: 800;
    width: 10%;
    padding-right: 0.5vw;
    padding-left: 0.5vw;
}
.ib{
    float: left;
}
.i:hover{
    color: aqua;
}
@media screen and (max-width: 600px) {
.header{
    display: block;
}
.item{
    display: none;
}
.search{
    display: block;
}
.image2{
    float: right;
    height: 15px;
    width: 12.5px;
    margin-right: 9%;
    margin-top: -2%;
}
.image{
    height: 9%;
    width: 9%;
    padding-left: 2%;
    padding-top: 3%;
}
.image1{
    height: 22%;
    width: 22%;
}
.header{
    background-color: black;
    height:5.2em;
}
.deu{
    margin-top: -5%;
    font-size: 100%;
}
.provider{
    display: none;
}
.toprightcorner{
    margin-top: -8%;
    margin-right: -11%;
}
.i{
    padding-left: 1vw;
    padding-right: 1vw;
}
.ib{
    margin-left: -40%;
    padding-right: 10%;
}
}